
<h2>Uso:</h2>
<ul>
	
	<li>
		<p>https://tbwebservice.herokuapp.com/<strong>ranking</strong><br>
		->retorna o ranking de usuario armazenado no banco de dados</p>
	</li>

	<li>
		<p>https://tbwebservice.herokuapp.com/<strong>ranking</strong>/<strong>repos</strong><br>
		->retorna o ranking de repositórios armazenado no banco de dados</p>
	</li>


	<li>
		<p>https://tbwebservice.herokuapp.com/<strong>analysis/url_do_repositorio</strong><br>
		->Realiza uma analise do codigo presente repositorios e todos seus subdiretorios, juntamente com seus erros</p>
	</li>

	<li>
		<p>https://tbwebservice.herokuapp.com/<strong>all_errors</strong><br>
		->retorna todos erros encontrados </p>
	</li>
</ul>