
*{
	margin:0px;
	padding:0px;
}

main {
  overflow-y: auto;
}

footer{
	margin-top: 30px;

}

a.home{
  	border-bottom: none; 
	font-size: 140%;
	margin-left: 2%;
}


.md-button {    
    text-transform: capitalize !important;/*For Lower case use lowercase*/
}

#subtitle{
	margin-top: 100px;
	margin-bottom: 10px;
}

a:hover{
    color: #FFF !important;
    text-decoration:none !important;
}

p {
 line-height: 1.5;
}
