<div layout="row" layout-wrap class="container">
	<md-content class="page-container" >
		<div class="md-title" id="subtitle">Qualidade do código fonte Python</div>
		<br>
		<section layout="row" layout-xs="column">
			<span>
				<p>O Pyquali (Qualidade de código fonte em Python) é uma aplicação que realiza a análise de repositórios Python do GitHub, utilizando a ferramenta Pylint e gera um classificação para seus usuários e repositórios.</p>

				<center>
					<img src="static/img/pylint.svg" class="img-fluid" alt="">
					<p>Pylint realiza várias verificações dentre elas: Padrão de Codificação, Detecção de erro, Ajuda de refatoração, entre outras </p>
				</center>
			</span>
		</section>

		<section  layout-xs="column" layout="row" >
			<md-card layout-align="center center" layout="row" layout-xs="column" style="padding: 20px 50px">
				<span>O Pylint realiza análise baseado no Guia de Estilo PEP 8 (convenção com padrões de codificação), e atribui uma pontuação a cada repositório analisado, pontuação essa que tem como maior nota a 10.</span>

				<img style="width: 150px;" src="../static/img/trofeu.png">
				
			</md-card>
		</section>

		<section  style="margin-top: 20px;">
			<md-card layout-align="center center" layout="row" layout-xs="column" style="padding: 20px">


				<img style="width: 200px;" src="../static/img/git.gif">
				
				<span>A visualização dos rankings é liberada para qualquer usuário ou visitante da página, já para a realização da análise dos repositórios são obrigatórios o login e autenticação no GitHub.</span>

			</md-card>
		</section>
		
		<div class="md-title" id="subtitle">Tenologias utilizadas</div>
		<section>
			<md-content class="md-padding" layout-sm="column" layout-xs="column" layout="row" style="background-color: #1881c1">
				
				<span style="width: 75px;"></span>
				<div>
					<md-card md-theme="dark-blue" md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Firebase</span>
								<span class="md-subhead">Hospedagem da aplicação</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-lg card-media">
									<img src="../static/img/fb.png">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://firebase.google.com/?hl=pt-br" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
					
					<md-card md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">GitHub</span>
								<span class="md-subhead">Autenticação</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-sm card-media">
									<img src="../static/img/git.svg">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://github.com/" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
					<md-card md-theme="dark-green" md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Python</span>
								<span class="md-subhead">Desenvolvimento do servidor</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-lg card-media">
									<img src="../static/img/pt.png">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://www.python.org/" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
				</div>

				<div flex-xs flex-gt-xs="50" layout="column">
					<md-card md-theme="dark-purple" md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Heroku</span>
								<span class="md-subhead">Hospedagem do servidor</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-sm card-media">
									<img src="../static/img/hr.png">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://www.heroku.com/" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
					<md-card md-theme="dark-orange" md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Pylint</span>
								<span class="md-subhead">Utilizado para realizar a análise dos códigos</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-md card-media">
									<img src="../static/img/pylint.svg">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://www.pylint.org/" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
					<md-card md-theme="dark-red" md-theme-watch>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">AngularJS</span>
								<span class="md-subhead">Desenvolvimento da aplicação web</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-sm card-media">
									<img src="../static/img/ajs.png">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-href="https://angularjs.org/" target="_blank">Visitar</md-button>
						</md-card-actions>
					</md-card>
				</div>
			</md-content>
		</section>
		

	</md-content>
</div>


<footer class="container">
	<small>
		<center>
			<div>Trabalho prático da disciplina de WebService do curso de Sistemas para Internet, 4º período.</div>
			<div>Instituto Federal do Sudeste de Minas Gerais, Campus Barbacena.</div>
			<div>Veja mais em <a href="https://github.com/lucianocarlos/analisedecodigos">GitHub</a></div>

			Copyright © 2018 - Todos os direitos reservados /
			Desenvolvido por: Érika e Luciano 
		</center>
	</small>
</footer>