<div layout="row" layout-wrap class="container">
    <div flex="100">
        <md-subheader hide-xs hide-sm show-gt-md class="md-no-sticky"><h1>Ranking Usuários</h1></md-subheader>
        
        <!-- Fonte ajustada para dispositivos moveis -->
        <md-subheader hide-gt-sm class="md-no-sticky"><h2>Ranking Usuários</h2></md-subheader>
        
        <md-input-container class="md-icon-float md-block">
            <label>Pesquisar</label>
            <md-icon> <i class="material-icons">search</i></md-icon>
            <input ng-model="criteria">
        </md-input-container> 

        <md-progress-linear ng-if="ranking.length == 0" class="md-warn md-hue-2"></md-progress-linear> 
    </div>

    <md-list flex="100">
        <md-list-item ng-repeat="usuario in ranking | filter: criteria" layout="row">
            <md-card flex="100" style="box-shadow: 0px 0px 1px 0px rgb(251,140,0);">
                <md-card-content>
                    <span hide-xs hide-sm show-gt-md class="md-display-2">
                        {{usuario.posicao}}º
                        &nbsp;
                        <img ng-src="{{user[usuario.login].avatar_url}}" class="md-avatar"/>
                        <strong style="font-size: 25px;" hide-xs hide-sm show-gt-md flex-offset="3">{{user[usuario.login].name}}&nbsp;</strong>
                    </span>
                    <!-- Fonte ajustada para dispositivos moveis -->
                    <span hide-gt-sm>
                        {{usuario.posicao}}º
                        &nbsp;
                        <img ng-src="{{user[usuario.login].avatar_url}}" class="md-avatar"/>
                        <strong style="font-size: 20px" hide-gt-sm flex-offset="3">{{user[usuario.login].name}}&nbsp;</strong>
                    </span>

                    <br/>

                    <strong hide-xs hide-sm show-gt-md style="font-size: 21px">Nota: {{usuario.nota}}&nbsp;</strong>
                    <!-- Fonte ajustada para dispositivos moveis -->
                    <strong hide-gt-sm style="font-size: 18px">Nota: {{usuario.nota}}&nbsp;</strong>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center" style="margin-top: -25px;">
                    <md-button class="md-warn md-raised md-hue-2" ng-href={{user[usuario.login].html_url}} target="_blank">
                        Visitar página
                    </md-button>
                </md-card-actions>
            </md-card>           
        </md-list-item>
    </md-list> 
</div>


