<div layout="row" layout-wrap class="container">
    <div flex="100">
        
        <md-subheader  class="md-no-sticky"><h4>Classificação dos Usuários</h4></md-subheader>
        
        <md-input-container class="md-icon-float md-block">
            <label>Pesquisar</label>
            <md-icon> <i class="material-icons">search</i></md-icon>
            <input ng-model="criteria">
        </md-input-container> 

        <md-progress-linear ng-if="ranking.length == 0" class="md-warn md-hue-2"></md-progress-linear> 
    </div>

    <md-list flex="100">
        <md-list-item ng-repeat="usuario in ranking | filter: criteria" layout="row">
            <md-card flex="100" style="box-shadow: 0px 0px 1px 0px rgb(251,140,0);">
                <md-card-content>
                    <span class="md-display-1">
                        {{usuario.posicao}}º
                        &nbsp;
                        <img ng-src="{{user[usuario.login].avatar_url}}" class="md-avatar"/>
                        <strong style="font-size: 18px;"  flex-offset="3">{{user[usuario.login].name}}&nbsp;</strong>
                    </span>
                   
                    <br/>

                    <strong show-gt-md style="font-size: 15px">Nota: {{usuario.nota}}&nbsp;</strong>
                 
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center" style="margin-top: -25px;">
                    <md-button class="md-warn md-raised md-hue-2" ng-href={{user[usuario.login].html_url}} target="_blank">
                        Visitar página
                    </md-button>
                </md-card-actions>
            </md-card>           
        </md-list-item>
    </md-list> 
</div>


