<div layout="row" layout-wrap class="container">
    <div flex="100">
        <md-subheader  class="md-no-sticky"><h4>Classificação dos Repositórios</h4></md-subheader>
        
        <md-input-container class="md-icon-float md-block">
            <label>Pesquisar</label>
            <md-icon> <i class="material-icons">search</i></md-icon>
            <input ng-model="criteria">
        </md-input-container> 

        <md-progress-linear ng-if="ranking.length == 0" class="md-warn md-hue-2"></md-progress-linear> 
    </div>

    <md-list flex="100">
        <md-list-item ng-repeat="repositorio in ranking | filter: criteria" layout="row">
            <md-card flex="100" style="box-shadow: 0px 0px 1px 0px rgb(0,172,193);">
                <md-card-content>
                    <span class="md-display-1">
                        {{repositorio.posicao}}º
                        &nbsp;
                        <strong style="font-size: 18px;">{{ranking[repositorio.posicao-1].nome}}&nbsp;</strong>
                    </span>
                    
                    <br/>

                    <strong style="font-size: 15px">Nota: {{repositorio.nota}}&nbsp;</strong>

                    <br/>

                    <strong hide-xs hide-sm show-gt-md style="font-size: 21px">Autor: {{ranking[repositorio.posicao-1].usuario["login"]}}&nbsp;</strong>
                    <!-- Fonte ajustada para dispositivos moveis -->
                    <strong hide-gt-sm style="font-size: 17px">Autor: {{ranking[repositorio.posicao-1].usuario["login"]}}&nbsp;</strong>

                </md-card-content>
                <md-card-actions layout="row" layout-align="end start">
                    <md-button class="md-warn md-raised md-hue-2" 
                    ng-href="https://github.com/{{ranking[repositorio.posicao-1].usuario['login']}}/{{ranking[repositorio.posicao-1].nome}}"
                    target="_blank">
                    Visitar repositório
                </md-button>
            </md-card-actions>
        </md-card>           
    </md-list-item>
</md-list> 
</div>


