<div layout="row" layout-wrap class="container" ng-if="is_autenticado()">
    <div flex="100">
        <md-subheader hide-xs hide-sm show-gt-md class="md-no-sticky"><h1>Meus Repositórios</h1></md-subheader>

        <!-- Fonte ajustada para dispositivos moveis -->
        <md-subheader hide-gt-sm class="md-no-sticky"><h2>Meus Repositórios<h2></md-subheader>
        
        <md-input-container class="md-icon-float md-block">
            <label>Pesquisar</label>
            <md-icon> <i class="material-icons">search</i></md-icon>
            <input ng-model="criteria">
        </md-input-container>

        <md-progress-linear ng-if="repositorios.length == 0" md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
    </div>
    
    <md-list flex="100" layout="column">
        <md-list-item class="md-2-line" ng-repeat="repositorio in repositorios | filter : criteria" ng-if="repositorio.language == 'Python'">
            <md-card>
                <md-card-content>
                    <h2><strong>{{repositorio.name}}</strong></h2>
                    <h3>{{repositorio.description}}</h3>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center">
                    <md-button class="md-warn md-raised md-hue-2" ng-click="analisarRepositorio($event, repositorio)">
                        Analisar
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-list-item>
    </md-list>
</div>

<div layout="row" layout-wrap class="container" ng-if="!is_autenticado()">
    <h1 class="md-display-2">Você tem que logar no GitHub para visualizar seus repositórios :)</h1>
    <br/>
    <md-button class="md-raised md-warn md-hue-2" ng-if="!is_autenticado()" ng-click="entrar()">
        Entrar                  
    </md-button>
</div>