<md-dialog aria-label="Repositório">
  <form>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h1>Análise do repositório <strong>{{nomeRepositorio}}</strong></h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">x</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:900px;max-height:810px; min-width: 850px;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Nota">
          <md-content class="md-padding">
            <h1 class="md-display-2">Sua nota foi: {{info['nota']}} em 10</h1>
          </md-content>
        </md-tab>
        <md-tab label="Análise">
          <h1 ng-if="info['err'] == true">Ocorreu um erro ao receber as informações</h1>
          <md-content class="md-padding"> 
            <h3><strong>Quantidade de arquivos analisados:  {{info['files'].length}}</strong></h3>
            <ul ng-repeat="arquivo in info['files']">
              <li>{{arquivo.split('/')[1]}}</li>
            </ul>
            <md-divider></md-divider>

            <h3><strong>Erros e advertências por módulo</strong></h3>
            <ul ng-repeat="modulo in info['_errors_/_warnings_by_module']">
              <h3>{{modulo['module']}}</h3>
              <li>Erros de programação: {{modulo['error']}}</li>
              <li>Advertências: {{modulo['warning']}}%</li>
              <li>Violação das boas práticas: {{modulo['refactor']}}%</li>
              <li>Violação do padrão de codificação: {{modulo['convention']}}%</li>     
            </ul>
            <md-divider></md-divider>

            <h3><strong>Estatísticas por tipo</strong></h3>
            <ul ng-repeat="tipo in info['Statistics_by_type']">
              <h3>Tipo:  {{tipo['type']}}</h3>
              <li>Quantidade: {{tipo['number']}}</li>
              <li>Más Nomeações: {{tipo['badname']}}%</li>
            </ul>
            <md-divider></md-divider>

            <h3><strong>Declarações presentes no repositório: {{info['statements']}}</strong></h3>
            <md-divider></md-divider>

            <h3><strong>Duplicações no código fonte</strong></h3>
            <ul>
              <li>Quantidade de linhas duplicadas: {{info['Duplication']['now']}}</li>
            </ul>
            <md-divider></md-divider>

            <h3><strong>Mensagens por categoria</strong></h3>
            <ul ng-repeat="categoria in info['Messages_by_category']">
              <h3>Tipo:  {{categoria['type']}}</h3>
              <li>Quantidade: {{categoria['number']}}</li>
            </ul>
            <br/>
            <md-divider></md-divider>

            <h3><strong>Mensagens retornadas:  {{info['Messages'].length}}</strong></h3>
            <div style="margin-left: 3%;"ng-repeat="mensagen in info['Messages']" layout="column">
              {{mensagen['message_id']}} - {{mensagen['occurrences']}}
            </div> 
            <br/>
            <md-divider></md-divider>
          </md-content>
        </md-tab>
        <md-tab label="PEP 8">
          <md-content class="md-padding">
            <h2 ng-if="info['errors'].length > 1"><strong>Foram encontrados {{info['errors'].length}} itens fora do padrão PEP 8 no repositório {{nomeRepositorio}}:</strong></h2>
            <h2 ng-if="info['errors'].length == 1"><strong>Foi encontrado {{info['errors'].length}} item fora do padrão PEP 8 no repositório {{nomeRepositorio}}:</strong></h2>
            <br/>
            <ul ng-repeat="erros in info['errors']">
              <h3>{{erros['message'].split("\n")[0]}}</h3>
              <li>Módulo: <strong>{{erros['module']}}</strong></li>
              <li>Símbolo: {{erros['symbol']}}</li>
              <li>Objeto: {{erros['obj']}}</li>
              <li>Coluna: {{erros['column']}}</li>
              <li>Linha: {{erros['line']}}</li>
              <li>Tipo: {{erros['type']}}</li>
              <br/>
              <md-divider></md-divider>
            </ul>
          </md-content>
        </md-tab>
        <md-tab label="Você no Ranking">
          <md-content class="md-padding">
             <md-list flex="100">
                <md-list-item ng-repeat="usuario in ranking" layout="row">
                    <md-card flex="100" ng-style="usuario.login == nomeUsuario ? {'box-shadow': '0 0 16px 6px #ea9118'} : {}">
                        <md-card-content>
                            <span class="md-display-1">
                                {{usuario.posicao}}º
                                &nbsp;
                                <img ng-src="{{user[usuario.login].avatar_url}}" class="md-avatar"/>
                                <strong style="font-size: 20px;" flex-offset="3">{{user[usuario.login].name}}&nbsp;</strong>
                            </span>
                            <br/>
                            <strong style="font-size: 18px">Nota: {{usuario.nota}}&nbsp;</strong>
                        </md-card-content>
                    </md-card>           
                </md-list-item>
              </md-list> 
          </md-content>
        </md-tab>
        <md-tab label="Repositório no Ranking">
          <md-content class="md-padding">
            <md-list flex="100">
              <md-list-item ng-repeat="repositorio in rank | filter: criteria" layout="row">
                <md-card flex="100" ng-style="rank[repositorio.posicao-1].nome == nomeRepositorio ? {'box-shadow': '0 0 16px 6px #ea9118'} : {}">
                  <md-card-content>
                    <span class="md-display-1">
                        {{repositorio.posicao}}º
                        &nbsp;
                        <strong style="font-size: 20px;">{{rank[repositorio.posicao-1].nome}}&nbsp;</strong>
                    </span>
                    <strong style="font-size: 18px">Nota: {{repositorio.nota}}&nbsp;</strong>
                  </md-card-content>
                </md-card>           
              </md-list-item>
            </md-list> 
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>

 