<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Doc</title>
	</head>
	<body>
		<h2>API de análise de código em Python</h2>
		<h3>Uso:</h3>
		<ul>
			
			<li>
				<p>GET /<strong>ranking</strong><br>
				->retorna o ranking de usuário armazenado no banco de dados</p>
			</li>

			<li>
				<p>GET /<strong>ranking</strong>/<strong>repos</strong><br>
				->retorna o ranking de repositórios armazenado no banco de dados</p>
			</li>


			<li>
				<p>GET /<strong>analysis/url_do_repositorio</strong><br>
				->Realiza uma análise do código presente repositórios e todos seus subdiretórios, juntamente com seus erros</p>
			</li>

			<li>
				<p>DELETE /<strong>del/login_usuário</strong><br>
				->Deleta um usuário </p>
			</li>
		</ul>
	</body>
